.sidebar {
  user-select: none;
}

.revealButtonArea {
  position: fixed;
  right: 0;
  bottom: 80px;
  height: calc(60px + calc(18px / tan(60deg)));
  clip-path: polygon(0 calc(18px / tan(60deg)), 100% 0, 100% 100%, 0 60px);
  width: 18px;
  display: block;
  z-index: 11;
  cursor: pointer;
  background-color: #ffffff22;
  -webkit-tap-highlight-color: transparent;
}

.revealButton {
  height: calc(60px + calc(18px / tan(60deg)));
  clip-path: polygon(0 calc(18px / tan(60deg)), 100% 0, 100% 100%, 0 60px);
  width: 18px;
  position: fixed;
  right: 0;
  bottom: 80px;
  background-color: var(--color-black-1f);
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: center;
  align-items: center;
}

.revealButton .circle {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: var(--color-menu-icon);
}


.sidebar.visible .revealButtonArea {
  left: 80%;
  height: 100vh;
  width: 20%;
  bottom: 0;
  clip-path: none;
}

.sidebar.visible .revealButtonArea::-webkit-scrollbar {
  display: none;
}

.sidebar.visible .revealButton {
  left: 80%;
  clip-path: polygon(0 0, 100% calc(18px / tan(60deg)), 100% 60px, 0 100%);
}

.sidebar.visible .content {
  display: block;
}

.content {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  background-color: var(--color-black-1f);
  z-index: 10;
  overflow-y: scroll;
  height: 100vh;
  overscroll-behavior: contain;
  font-size: 18px;
  line-height: 24px;
  padding: 16px;
}

.inside {
  margin-top: 40vh;
  min-height: 60vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 20%;
  width: 100%;
}

.inside .logoWrapper {
  position: absolute;
  top: 0;
  left: 0;
  padding: 16px;
}

.bottom {
  margin: 100px 0;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.bottom a {
  text-decoration: none;
  color: var(--color-sidebar-list-inactive);
  user-select: none;
  cursor: pointer;
  font-weight: bold;
}

.bottom .separator {
  width: 85px;
  height: 2px;
  background-color: var(--color-sidebar-list-inactive);
  margin: 9px 0 6px;
}


@media (min-width: 48rem) {
  .sidebar {
    width: 150px;
  }

  .revealButtonArea {
    display: none;
  }

  .sidebar.visible .content {
    display: flex;
  }

  .content {
    display: flex;
    position: fixed;
    width: 150px;
    scrollbar-width: none;
    font-size: 14px;
    line-height: 21px;
  }

  .content::-webkit-scrollbar {
    display: none;
  }

  .inside {
    margin-top: 140px;
    padding: 60px 15px 30px;
  }

  .bottom {
    margin: 100px 0 0;
  }

  .bottom .separator {
    width: 66px;
    height: 1px;
  }
}

@media (min-width: 60rem) {
  .sidebar {
    width: 200px;
  }

  .content {
    width: 200px;
  }
}

