.tokenLoginPage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;

  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .generalError {
    color: var(--color-red);
  }

  .spinner {
    display: inline-block;
    width: 20px;
    text-align: center;
  }

  .backLink {
    margin-top: 40px;
  }

  .backLink a {
    color: var(--color-brown);
  }
}
