.breadcrumbs {
  display: flex;
  background-color: var(--color-black-1f);
  align-items: center;
  clip-path: polygon(0 0, 100% 0, calc(100% - calc(18px / tan(60deg))) 100%, 0 100%);
  padding: 5px 10px;
  color: var(--color-off-white);

  .separator {
    border-radius: 50%;
    background-color: var(--color-off-white);
    width: 4px;
    height: 4px;
    display: inline-block;
    margin: 0 20px;
  }

  .first {
    font-family: var(--font-logo), serif;
    font-size: 2rem;
  }

  .crumb {
    height: 18px;
    line-height: 18px;
    text-align: center;
    padding-right: 18px;
  }
}

@media (min-width: 48rem) {
  .breadcrumbs {
    display: none;
  }
}
