.breadcrumbs {
  padding: 0 20px;
  height: 18px;
  background-color: var(--color-black-1f);
  clip-path: polygon(0 0, 100% 0, calc(100% - calc(18px / tan(60deg))) 100%, 0 100%);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  font-size: 10px;
  line-height: 18px;
  text-align: center;
  margin-left: calc(60px - calc(18px / tan(60deg) / 2) - 2px);
}

@media (min-width: 48rem) {
  .breadcrumbs {
    display: none;
  }
}
