.logo {

  :global(.st0) {
    fill: var(--color-off-white);
  }

  :global(svg) {
    overflow: visible;
  }

  :global(#text) {
    transition: transform 0.2s;
    pointer-events: bounding-box;
    transform-origin: center;
  }

  :global(#text:hover) {
    transform: scale(1.1) translateY(-1px);
  }
}
