.sidebar {
  user-select: none;

  .revealButtonArea {
    position: fixed;
    right: 0;
    bottom: 80px;
    height: calc(60px + calc(18px / tan(60deg)));
    clip-path: polygon(0 calc(18px / tan(60deg)), 100% 0, 100% 100%, 0 60px);
    width: 18px;
    display: block;
    z-index: 11;
    cursor: pointer;
    background-color: #ffffff22;
    -webkit-tap-highlight-color: transparent;

    .revealButton {
      height: calc(60px + calc(18px / tan(60deg)));
      clip-path: polygon(0 calc(18px / tan(60deg)), 100% 0, 100% 100%, 0 60px);
      width: 18px;
      position: fixed;
      right: 0;
      bottom: 80px;
      background-color: var(--color-black-1f);
      display: flex;
      flex-direction: column;
      gap: 6px;
      justify-content: center;
      align-items: center;

      .circle {
        height: 6px;
        width: 6px;
        border-radius: 50%;
        background-color: var(--color-menu-icon);
      }
    }
  }

  &.visible .revealButtonArea {
    left: 80%;
    height: 100vh;
    width: 20%;
    bottom: 0;
    clip-path: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .revealButton {
      left: 80%;
      clip-path: polygon(0 0, 100% calc(18px / tan(60deg)), 100% 60px, 0 100%);
    }
  }

  &.visible .content {
    display: block;
  }

  .content {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 80%;
    background-color: var(--color-black-1f);
    z-index: 10;
    overflow-y: scroll;
    height: 100vh;
    overscroll-behavior: contain;
    transition: width 0.3s ease-in-out;
    font-size: 18px;
    line-height: 24px;

    .inside {
      margin-top: 40vh;
      min-height: 60vh;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      padding: 20%;
      width: 100%;

      .projects {

        ul {
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            a {
              text-decoration: none;
              color: var(--color-sidebar-list-inactive);
              user-select: none;
              cursor: pointer;

              &:hover,
              &[class='active'] {
                text-decoration: underline;
                color: var(--color-sidebar-list-active);
              }
            }
          }
        }
      }

      .bottomLinks {
        margin-top: 100px;
        text-align: right;
        display: flex;
        flex-direction: column;
        align-items: end;

        a {
          text-decoration: none;
          color: var(--color-sidebar-list-inactive);
          user-select: none;
          cursor: pointer;
          font-weight: bold;
        }

        .separator {
          width: 85px;
          height: 2px;
          background-color: var(--color-sidebar-list-inactive);
          margin: 9px 0 6px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .sidebar {
    width: 200px;

    .revealButtonArea {
      display: none;
    }

    &.visible .content {
      display: flex;
    }

    .content {
      display: flex;
      position: fixed;
      width: 200px;
      scrollbar-width: none;
      font-size: 14px;
      line-height: 21px;

      &::-webkit-scrollbar {
        display: none;
      }

      .inside {
        margin-top: 0;
        padding: 60px 15px 30px;

        .projects {
          ul {
            li {
              a {
                font-size: 14px;
              }
            }
          }
        }

        .bottomLinks {

          .separator {
            width: 66px;
            height: 1px;
          }
        }
      }
    }
  }
}
