@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono/JetBrainsMono-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono/JetBrainsMono-ThinItalic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono/JetBrainsMono-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono/JetBrainsMono-ExtraLightItalic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono/JetBrainsMono-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono/JetBrainsMono-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono/JetBrainsMono-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono/JetBrainsMono-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono/JetBrainsMono-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono/JetBrainsMono-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono/JetBrainsMono-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono/JetBrainsMono-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono/JetBrainsMono-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono/JetBrainsMono-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono/JetBrainsMono-ExtraBoldItalic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'LigaConsolas NF';
  src: url('/fonts/ligaconsolas-nf/LigaConsolas-NF-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'LigaConsolas NF';
  src: url('/fonts/ligaconsolas-nf/LigaConsolas-NF-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'LigaConsolas NF';
  src: url('/fonts/ligaconsolas-nf/LigaConsolas-NF-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'LigaConsolas NF';
  src: url('/fonts/ligaconsolas-nf/LigaConsolas-NF-Bold-Italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

/* Regular */
@font-face {
  font-family: 'SF Mono';
  src: url('/fonts/SFMono/SFMono-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: 'SF Mono';
  src: url('/fonts/SFMono/SFMono-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

/* Light */
@font-face {
  font-family: 'SF Mono';
  src: url('/fonts/SFMono/SFMono-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

/* Light Italic */
@font-face {
  font-family: 'SF Mono';
  src: url('/fonts/SFMono/SFMono-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

/* Medium */
@font-face {
  font-family: 'SF Mono';
  src: url('/fonts/SFMono/SFMono-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

/* Medium Italic */
@font-face {
  font-family: 'SF Mono';
  src: url('/fonts/SFMono/SFMono-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

/* Semibold */
@font-face {
  font-family: 'SF Mono';
  src: url('/fonts/SFMono/SFMono-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

/* Semibold Italic */
@font-face {
  font-family: 'SF Mono';
  src: url('/fonts/SFMono/SFMono-SemiboldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

/* Bold */
@font-face {
  font-family: 'SF Mono';
  src: url('/fonts/SFMono/SFMono-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

/* Bold Italic */
@font-face {
  font-family: 'SF Mono';
  src: url('/fonts/SFMono/SFMono-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

/* Heavy */
@font-face {
  font-family: 'SF Mono';
  src: url('/fonts/SFMono/SFMono-Heavy.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

/* Heavy Italic */
@font-face {
  font-family: 'SF Mono';
  src: url('/fonts/SFMono/SFMono-HeavyItalic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
}

:root {
  --color-black-18: #181818;
  --color-black-21: #212121;
  --color-black-28: #282828;
  --color-black-40: #404040;
  --color-white-e8: #e8e8e8;
  --color-white-a8: #a8a8a8;
  --color-form-error: var(--color-red);
  --color-form-input-bg: #282828;
  --color-form-input-fg: #e8e8e8;
  --color-form-input-placeholder: #666666;
  --color-meta-green: #80a37c;
  --color-red: #fb4934;
  --color-yellow: #fabd2f;
  --color-lightyellow: #edc990;
  --color-brown: #665c54;
  --color-purple: #c8899a;
  --font-mono: 'Consolas';
  --font-sans: 'Open Sans';
}

:root {
  color-scheme: dark;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-black-21);
  color: var(--color-white-e8);
  font-family: var(--font-sans), sans-serif;
  font-size: 16px;
}

input,
button {
  font-family: var(--font-sans), sans-serif;
}
