@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  --color-black-18: #181818;
  --color-black-1d: #1d1d1d;
  --color-black-1f: #1f1f1f;
  --color-black-21: #212121;
  --color-black-28: #282828;
  --color-black-2b: #2b2b2b;
  --color-black-40: #404040;

  --color-gray-5: #5c5a56;
  --color-gray-7: #72716e;

  --color-white-a8: #a8a8a8;
  --color-white-e8: #e8e8e8;

  --color-red: #e45746;
  --color-yellow: #fabd2f;
  --color-lightyellow: #edc990;
  --color-off-white: #e8dbb7;
  --color-meta-green: #80a37c;
  --color-purple: #c8899a;
  --color-brown: #665c54;

  /* TODO: move specific named colors to specific files */
  --color-line-numbers: var(--color-gray-5);
  --color-editor-fg: var(--color-off-white);
  --color-menu-icon: var(--color-gray-7);
  --color-sidebar-list-inactive: var(--color-gray-7);
  --color-sidebar-list-active: var(--color-white-e8);
}

:root {
  --font-sans: 'Open Sans';
  --font-mono: Consolas;
}

:root {
  --font-size-small: 0.875rem;
}

:root {
  color-scheme: dark;
}

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-black-28);
  color: var(--color-white-e8);
  font-family: var(--font-sans), sans-serif;
}

input,
button {
  font-family: var(--font-sans), sans-serif;
  font-size: inherit;
}
