.loginPage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;

  .formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 12.5rem;

    form {
      width: 100%;
      box-sizing: border-box;

      label {
        color: var(--color-brown);
        font-size: 0.875rem;
        display: block;
        padding: 0.313rem;
        line-height: 0.983rem;
        margin-top: 0.625rem;
      }

      input {
        display: block;
        width: 100%;
        background-color: var(--color-black-21);
        color: var(--color-white-e8);
        padding: 0 0.313rem;
        border: none;
        outline: none;
        line-height: 2.5rem;
        margin-bottom: 0.313rem;

        &:focus {
          outline: 1px dashed var(--color-brown);
        }

        &::placeholder {
          color: var(--color-form-input-placeholder);
        }
      }

      button {
        padding: 0.625rem;
        margin-top: 2.188rem;
        width: 100%;
        border: none;
        cursor: pointer;
        background-color: var(--color-brown);
        color: var(--color-black-21);
        font-weight: bold;
        line-height: 2.5rem;

        &:focus {
          outline: 1px dashed var(--color-brown);
        }
      }

      .fieldError, .generalError {
        color: var(--color-red);
        font-size: 0.875rem;
        margin: 0 0 0.313rem 0.313rem;
      }
    }
  }

  .bottom {
    flex-basis: 6rem;
    text-align: center;
    color: var(--color-brown);
    font-size: 0.875rem;
    text-decoration: underline;
  }
}
