.wrapper {
  flex: 1;

  :global(.cm-editor) {
    width: 100%;
  }

  :global(.cm-scroller) {
    font-family: var(--font-mono);
  }

  :global(.cm-activeLine) {
    background-color: #ffffff11;
  }

  :global(.cm-activeLineGutter) {
    background-color: #ffffff11;
  }

  :global(.cm-gutters) {
    background-color: var(--color-black-20);
    border: none;
  }

  :global(.cm-cursor) {
    border-left-color: var(--color-red);
  }

  :global(.cm-editor):not(:global(.cm-focused)) :global(.cm-fat-cursor) {
    outline: solid 1px var(--color-red);
  }

  :global(.cm-fat-cursor) {
    background: var(--color-red);
  }

  :global(.cm-selectionBackground) {
    background: #ffffff44 !important;
  }
}
