.logoutButton {
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    border: none;
    cursor: pointer;
    background-color: var(--color-brown);
    color: var(--color-black-21);
    font-size: 14px;
    font-weight: bold;

    &:focus {
        outline: 1px dashed var(--color-brown);
    }
}