.wrapper {
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: var(--color-black-18);
    padding: 20px;

    ul {
        flex: 1;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            a {
                text-decoration: none;
                font-size: 14px;
                color: var(--color-white-a8);
                user-select: none;

                &:hover, &[class="active"] {
                    cursor: pointer;
                    text-decoration: underline;
                    color: var(--color-white-e8);
                }
            }
        }
    }
}