.calendar {
  display: grid;
  color: var(--color-off-white);
  padding: 0 5px;
}

.yearNumber {
  margin-top: 20px;
  margin-bottom: 6px;
  font-family: var(--font-serif), serif;
  font-size: 1.875rem;
  line-height: 1.875rem;
  color: var(--color-brown);
  text-align: right;
}

.month.past .monthName {
  color: var(--color-brown);
}

.month.past .day .number {
  color: var(--color-brown);
}

.monthName {
  margin-bottom: 12px;
  font-family: var(--font-serif), serif;
  font-size: 1.875rem;
  line-height: 1.875rem;
  text-align: right;
}

.week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  margin-bottom: 5px;
  user-select: none;
}

.day {
  background-color: var(--color-black-2b);
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  overflow-x: hidden;
}

.day .inside {
  aspect-ratio: 1 / 1;
}

.day .top {
  display: flex;
  justify-content: end;
}

.day .number {
  width: 1.25rem;
  height: 1.25rem;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: bold;
  text-align: center;
}

.events {
  padding: 0 3px 6px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.event {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: var(--font-sans), sans-serif;
  font-size: 0.625rem;
  line-height: 0.875rem;
  height: 0.875rem;
  padding: 0 2px;
  border-radius: 3px;
  font-weight: bold;
  color: var(--color-black-1d);

  &.red {
    background-color: var(--color-red);
  }

  &.yellow {
    background-color: var(--color-yellow);
  }

  &.green {
    background-color: var(--color-meta-green);
  }

  &.white {
    background-color: var(--color-off-white);
  }
}

.day.past .number {
  color: var(--color-brown);
}

.day.today {
  background-color: var(--color-brown);
}

.layers {
  color: var(--color-gray-7);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.layer {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 1.5rem;
}

.layer.active {
  color: var(--color-white-e8);
}

.layer .indicator {
  width: 9px;
  height: 9px;
  background-color: var(--color-black-2b);
  border-radius: 3px;
  margin-left: 3px;
}

.layer.active .indicator {
  &.brown {
    background-color: var(--color-brown);
  }

  &.red {
    background-color: var(--color-red);
  }

  &.yellow {
    background-color: var(--color-yellow);
  }

  &.green {
    background-color: var(--color-meta-green);
  }

  &.white {
    background-color: var(--color-off-white);
  }
}

@media (min-width: 48rem) {
  .calendarPage {
    margin-left: 150px;
  }

  .calendar {
    padding: 0 50px;
    max-width: 1000px;
    margin: 0 auto;
  }

  .yearNumber {
    margin: 20px -30px 6px 0;
  }

  .week {
    gap: 10px;
    margin-bottom: 10px;
  }

  .layer:hover {
    color: var(--color-white-e8);
  }
}

@media (min-width: 60rem) {
  .calendarPage {
    margin-left: 200px;
  }

  .calendar {
    padding: 0 66px;
    max-width: 1000px;
    margin: 0 auto;
  }

  .yearNumber {
    font-size: 2.25rem;
    margin: 20px -30px 6px 0;
  }

  .monthName {
    font-size: 2.25rem;
  }

  .week {
    gap: 14px;
    margin-bottom: 14px;
  }

  .day .number {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .day {
    padding: 3px;
  }
}



