.calendarPage .calendar {
  display: grid;
  color: var(--color-off-white);
  padding: 0 5px;

  .yearNumber {
    margin-top: 20px;
    margin-bottom: 6px;
    font-family: 'Vollkorn', serif;
    font-size: 1.875rem;
    line-height: 1.875rem;
    color: var(--color-brown);
    text-align: right;
  }

  .month.past .monthName {
    color: var(--color-brown);
  }

  .month.past .day .number {
    color: var(--color-brown);
  }

  .monthName {
    margin-bottom: 12px;
    font-family: 'Vollkorn', serif;
    font-size: 1.875rem;
    line-height: 1.875rem;
    text-align: right;
  }

  .week {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;

    & > div {
      flex: 1;
      aspect-ratio: 1 / 1;
      background-color: var(--color-black-2b);
      display: flex;
      justify-content: end;
      align-items: start;
      overflow-wrap: anywhere;
      border-radius: 2px;
    }

    .empty {
      opacity: 0;
    }

    .day .number {
      width: 1.25rem;
      height: 1.25rem;
      font-size: 0.75rem;
      line-height: 1.25rem;
      font-weight: bold;
      text-align: center;
    }

    .day.past .number {
      color: var(--color-brown);
    }

    .day.today {
      background-color: var(--color-brown);
    }
  }
}

@media (min-width: 48rem) {
  .calendarPage {
    margin-left: 150px;

    .calendar {
      padding: 0 50px;
      max-width: 1000px;
      margin: 0 auto;

      .yearNumber {
        margin: 20px -30px 6px 0;
      }

      .week {
        gap: 10px;
        margin-bottom: 10px;
      }
    }
  }
}

@media (min-width: 60rem) {
  .calendarPage {
    margin-left: 200px;

    .calendar {
      padding: 0 66px;
      max-width: 1000px;
      margin: 0 auto;

      .yearNumber {
        font-size: 2.25rem;
        margin: 20px -30px 6px 0;
      }

      .monthName {
        font-size: 2.25rem;
      }

      .week {
        gap: 14px;
        margin-bottom: 14px;

        & > div {
          &.day .number {
            width: 1.5rem;
            height: 1.5rem;
            font-size: 1rem;
            line-height: 1.5rem;
          }
        }
      }
    }
  }
}


