.wrapper {
  background-color: var(--color-black-28);

  button {
    width: 100%;
    background: none;
    color: var(--color-white-a8);
    border: none;
    text-align: left;
    padding: 5px 15px;
    line-height: 14px;
    font-size: 14px;
    cursor: pointer;

    &:hover {
      color: var(--color-white-e8);
      background: var(--color-black-40);
    }
  }
}
