.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  background-color: var(--color-black-18);
  padding: 20px;

  ul {
    flex: 1;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      a {
        text-decoration: none;
        font-size: 14px;
        color: var(--color-white-a8);
        user-select: none;
        cursor: pointer;

        &:hover,
        &[class='active'] {
          text-decoration: underline;
          color: var(--color-white-e8);
        }
      }
    }
  }

  .settings {
    cursor: pointer;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    user-select: none;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    color: var(--color-white-a8);

    &:hover {
      color: var(--color-white-e8);
    }
  }
}
